.aboutMeContainer {
    display: flex;    
    gap: 4vw;                 
    padding: 4vw;
    padding-left: 0;
    padding-top: 1vh;
    padding-bottom: 0;
    background-color: var(--background);
    color: var(--foreground);
}
.aboutMeContainerLeft{
    float: left;
}
.aboutMeContainerRight{
    width: 25vw;
    float: right;
    padding-left: 5vw;
    margin-right:25vw;
}
.imageContainer {
  width: 400px;      
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4vw;
}

.rotatingImg {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  border-radius: 4vw;     
  transition: opacity 0.5s ease-in-out;
}

/* Fade states */
.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}