.footerContainer{
    height: 5vh;
    width: 100vw;
    background-color: #e5e5e5;
    color: black;
    padding-top: 5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 4vh;
    position: sticky;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* create the left and right containers for the footer */
.footerLeft, .footerRight{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50vw;
    list-style-type: none;
    gap: 2vw;
}
.footerLeft{
    float: left;
    /* color: #d86c4f; */
}
.footerRight{
    justify-content: flex-end;
    float: right;
}