.aboutMeContainer {
    display: flex;    
    gap: 4vw;                 
    padding: 4vw;
    background-color: var(--background);
    color: var(--foreground);
}
.aboutMeContainerLeft{
    float: left;
}
.aboutMeContainerRight{
    width: 25vw;
    float: right;
    padding-left: 5vw;
    margin-right:25vw;
}
.image-container {
  width: 300px;      
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4vw;
}

.rotating-img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  border-radius: 4vw;     
  transition: opacity 0.5s ease-in-out;
}

/* Fade states */
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}