:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.tabHeader{
  font-size: 36px;
  font-weight: 6000;
  color: black;
}
.subHeader{
  font-size: 18px;
  font-weight: 600;
  color: #949494;
}
.sectionHeader{
  padding-top: 5vh;
  flex-direction: center;
  text-align: center;
}